/* RiderFleetDashboard.css */

.fleet-dashboard {
  background-color: #fcfcf8;
  min-height: 100vh;
}

.neo-brutalism-card {
  border: 4px solid #1c1c0d;
  box-shadow: 8px 8px 0px 0px #1c1c0d;
  transition: all 0.2s ease;
  background-color: #fff;
}

.neo-brutalism-card:hover {
  transform: translate(-2px, -2px);
  box-shadow: 10px 10px 0px 0px #1c1c0d;
}

.neo-brutalism-btn {
  border: 4px solid #1c1c0d;
  box-shadow: 4px 4px 0px 0px #1c1c0d;
  transition: all 0.1s ease;
  background-color: #f9f506;
  font-weight: 900;
  text-transform: uppercase;
}

.neo-brutalism-btn:active {
  transform: translate(2px, 2px);
  box-shadow: 0px 0px 0px 0px #1c1c0d;
}

.status-badge {
    border: 2px solid #1c1c0d;
    box-shadow: 2px 2px 0px 0px #1c1c0d;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 0.625rem;
    letter-spacing: 0.05em;
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
}

.map-placeholder {
    background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuBO4AnyGQ0FAuqqqnPMh6iACmITNLLvZ0n0XuT21kcpu1rc-IHL2YOkavJgnKCtbnt4U9yiJ86aw-y0QM3Ogso0D0AvwI5t96S5PrqsvJ1wt2xWXucBbLhYJoqw7wAI8BpXi5URAuDwsNQ0kbiwVhyDrx9UvpmkpGTncOnZED49xsOXiNs_CwFEnznseReevNpqywZnS8yEGJGrOQH8kWlF2rPuQmx8_h_9R7SCr8yawrUZYk2oDZU-FVL6VioQ0E5LKZhRWOmE90Q');
    background-size: cover;
    background-position: center;
}
